/*REGOLE GENERICHE------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
    background-color: #130e0e;
}

main {
    min-height: 400px;
}

.hidden {
    display: none;
}

.no-disponible {
    width: 185px;
    height: 278px;
}

.yellow {
    color: yellow;
}


/*----HEADER-------------------------*/

.top {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #d50620;
    background-color: #3e3c3c;
}

.top span {
    font-weight: bold;
    font-size: 30px;
    margin-left: 20px;
    height: 20px;
}

#userSearch {
    height: 30px;
    padding: 3px 5px;
}

#search {
    margin-right: 30px;
    height: 30px;
}


/*----MAIN----------------------*/

.filmList {
    display: flex;
    flex-wrap: wrap;
}

.film {
    list-style: none;
    margin: 20px;
    color: white;
    height: 300px;
    width: 185px;
    position: relative;
}

.film:hover .details {
    display: block;
}

.details {
    height: 300px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 80%;
}

.cover img {
    height: 278px;
}

li.center {
    text-align: center;
    background-color: red
}

.overview {
    height: 55px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}


/*----FOOTER-------------------*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: #d50620;
    background-color: #3e3c3c;
}

#search {
    width: 100px;
}

#userSearch {
    width: 200px;
}